<div class="booyah-box col-xs-10 col-xs-offset-1">
<h1 class="hello text-center">Messages</h1>

<table class="table table-stripped">
<thead class="thead thead-default">
	<tr>
		<th>Sender</th>
		<th>Subject</th>
		<th>Recipient</th>
		<th>Message Status</th>
		
	</tr>
</thead>
<tbody>
	<% @messages.each do |message| %>
		<tr>
			<td><%= link_to message.sender.name, message_path(message.id)  %></td>
			<td><%= message.subject %></td>
			<td><%= link_to message.recipient.name, messages_sent_path %><td>

            <% if !message.read_at.nil? %>
              Read <%= time_ago_in_words(message.read_at) %> ago
            <% else %>
               <strong>Unread</strong>
            <% end %>
          </td> 
          <td>
		</tr>
		<% end %>
</tbody>
</table>


<div class="card card-block">
	<%= form_tag nil, method: 'get' do %>
	 <%= hidden_field_tag :messages, params[:messages] %>
		<div class="form-inline">
			<div class="form-group">
				
			<%= select_tag :sort_column, options_for_select([['Name', 'name'], ['Time', 'Time']]), class: 'form-control' %>
			<%= select_tag :sort_direction, options_for_select([['Ascending', 'asc'], ['Descending', 'dsc']]), class: "form-control" %> <br />
			<%= submit_tag "sort", class: 'btn btn-primary' %>
		</div>

		
		</div>

		<div class="button">
			<%= link_to "Find Friends", users_path, class: 'btn btn-primary' %>
			
		</div>


<% end %>